@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #011638;
    --secondary-color: #0D5D56;
    --accent1-color: #78A1BB;
    --accent2-color: #F9E0D9;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #011638;
    --nav-link-color: #78A1BB;
    --nav-hover-link-color: #F9E0D9;
    --nav-hover-background-color: #0D5D56;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

